@{
    ViewData["Title"] = "Strona Główna";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Witamy w Restauracji!</h1>
    <p class="lead  fs-3">Doświadcz najlepszych kulinarnych rozkoszy w mieście.</p>
    <hr class="my-4">
    <p style="font-size:20px">Zapoznaj się z naszym menu i zarezerwuj stolik, aby cieszyć się fantastycznym doświadczeniem kulinarnym.</p>
</div>
<br />
<div  class="container">
    <h1 class="text-center">Nasze Specjalności</h1>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="card h-100">
                <img  src="/images/Cheeseburger.jpg" class="card-img-top" alt="Danie 1">
                <div class="card-body">
                    <h5 class="card-title">Cheeseburger</h5>
                    <p class="card-text">Topiony ser cheddar, świeża sałata, plasterki ogórka i pomidor, a to wszystko w chrupiącej bułce z sezamem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <img  src="/images/Big King.jpg" class="card-img-top" alt="Danie 2">
                <div class="card-body">
                    <h5 class="card-title">Beef Taco</h5>
                    <p class="card-text">Dwa kotlety wołowe, dwa plastry sera cheddar, cebula, sałata i specjalny sos Big King, podane w puszystej bułce.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <img  src="/images/Chicken Burger.jpg" class="card-img-top" alt="Danie 3">
                <div class="card-body">
                    <h5 class="card-title">Fish Taco</h5>
                    <p class="card-text">Delikatna pierś z kurczaka, chrupiąca sałata, soczysty pomidor i kremowy majonez w świeżo wypieczonej bułce.</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <h1 class="text-center mt-1">Nasza Lokalizacja</h1>
    <br />
    <div class="row fullwidth">
        <div class="col-md-7">
            <div class="maps_inside">
                <iframe width="100%" height="300px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2582.1714541706087!2d20.07890701587504!3d49.66990895117674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47160c00407bc1f3%3A0xe7194cb08ee36382!2sFolwark+Stara+Winiarnia!5e0!3m2!1spl!2spl!4v1560514986616!5m2!1spl!2spl" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-5 text-center" style="width=40%">
           <br />
           <br />
            <h3>XVI-wieczny Kasztel – Château<br>Folwark Stara Winiarnia</h3>
            <h4>
                <p>34-730 Mszana Dolna, Ogrodowa 2</p>
                <p>+48 123 123 123</p>
                <p><a href="">biuro@restauracja.pl</a></p>

            </h4>
          
        </div>
    </div>
</div>
